opencv_python==4.5.5.62
mxnet==1.8.0.post0
matplotlib==3.3.4
torch==1.9.0
transformers==4.16.2
alive_progress==2.2.0
scikit_image==0.19.1
tensorflow==2.6.0
keras==2.6.0
Pillow==9.0.1
scikit_learn==1.0.2
